.wrap-slider {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
}
.wrap-slider .forward {
  margin-left: auto;
  margin-right: 18px;
  color: #808080;
  font-size: 15px;
  margin-top: 25px;
}
.wrap-slider .wrap-card {
  height: 100%;
  padding-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 33px;
}
.wrap-slider .img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.wrap-slider .title {
  margin-top: 28px;
  margin-bottom: 12px;
  color: #333333;
  font-size: 19px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.wrap-slider .text {
  text-align: center;
  margin-bottom: 20px;
  color: #808080;
}
.wrap-slider .pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center ;
}
.wrap-slider .point {
  margin-right: 16px;
  margin-bottom: 40px;
  height: 5px;
  width: 5px;
  background-color: #D8D8D8;
  border-radius: 50%;
}
.wrap-slider .point.active {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #9B243E;
}
.wrap-slider .pagination:last-child {
  margin-right: 0;
}
