<div class="wrap-slider">
  <p class="forward" (click)="handleForward()">
    Пропустить
  </p>
  <div class="wrap-card" (click)="next()">
    <div class="img" [ngStyle]="{ 'background-image': 'url(' + items[index].img + ')'}"></div>
    <div class="title">{{ items[index].title }}</div>
    <div class="text">{{ items[index].text }}</div>
  </div>
  <div class="pagination">
    <div class="wrap-point" *ngFor="let item of items; index as i">
      <div
        class="point"
        (click)="open(index)"
        [ngClass]="{ active: index == i }"
      ></div>
    </div>
  </div>
</div>
